body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 1000px;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    padding-inline: 100px;
    border-bottom: 2px solid rgb(158, 155, 155);
    background-color: rgb(238, 235, 231);
}

.navbar .logo img{
    width: 180px;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li:hover {
    border-bottom: 0.5px solid rgb(40, 119, 238);
    transform-origin: center;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(54, 53, 53);
    font-weight: 350;
}

.navbar ul li a:hover {
    color: rgb(40, 119, 238);
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 7px;
    align-self: center;
    cursor: pointer;
    border: 3px solid #928b8b;
    padding: 5px;
    /* box-sizing: border-box; */
    border-radius: 10px;
    margin: 10px;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #928b8b;
    transition: transform 0.3s ease;
}

.hamburger-menu:active {
    box-shadow: 0 0 2px rgb(122, 165, 247), -2px 0 2px rgb(122, 165, 247), 2px 0 2px rgb(122, 165, 247), 0 -2px 2px rgb(122, 165, 247), 0 2px 2px rgb(122, 165, 247), -2px -2px 2px rgb(122, 165, 247), 2px -2px 2px rgb(122, 165, 247), -2px 2px 2px rgb(122, 165, 247), 2px 2px 2px rgb(122, 165, 247);
}


/* main content */
.container{
    margin: 100px;
    color: rgb(19, 107, 240);
}

/* poster */
.container h1{
    font-weight: 600;
    box-sizing: border-box;
}

.poster{
    width: 100%;
    height: 500px;
    background-image: url(https://source.unsplash.com/1150x500?herbal-medicine);
    background-position: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* poster end */

/* pelayanan */
#pelayanan {
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
}

.layanan {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    box-sizing: border-box;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card-layanan{
    background-color: rgb(46, 46, 211);
    display: flex;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 10px;
    flex-grow: 1;
    margin: 3px;
    flex: 48%;
}
    
.card-layanan img{
    width: 25%;
    border: 7px solid white;
    border-radius: 8px;
}

.card-layanan p{
    margin-left: 5px;
    color: aliceblue;
    text-align: left;
}

.card-container h3{
 display: block;
 flex: 100%;
 text-align: center;
}
/* pelayanan end */


/* Tentang Kami */
#tentang{
    text-align: center;
    margin-top: 100px;
}
.tentang-p {
    text-align: center;
}


/* kontak start*/
/*Contact Section*/
.contact {
    margin-top: 100px;
}

#kontak h2, p{
    text-align: center;
}

.contact .row {
    display: flex;
    gap: 5px;
    box-sizing: border-box;
    border: 1px solid #eee;
    flex-wrap: wrap;
}

.contact .row .map {
    flex: 1;
	object-fit: cover;
    min-height: 500px;
}

.contact .row form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

.contact .row form .input-group {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	border: 1px solid #eee;
    padding: 50px;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 20px;
    font-size: larger;
    background: none;
    border: none;
}

.contact .row form .input-group input[type="text"]:focus{
    outline: none;
}

.contact .row form .tombol{
    display: flex;
    justify-content: center;
}

.contact .row form .btn {
    margin-top: 1rem;
	display: inline-block;
	padding: 1rem 3rem;
	font-size: 1.4rem;
	color: #fff;
	background-color: rgb(50, 79, 206);
	border-radius: 0.5rem;
	box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
	cursor: pointer;
}


/* footer */
footer{
    background-color: rgb(158, 155, 155);
    padding: 15px;
    text-align: center;
}



@media screen and (max-width: 968px){
    .card-layanan{
        flex: 100%;
    }
} 


@media screen and (max-width: 768px){

    .navbar{
        padding-inline: 0;
    }

    .container{
        margin: 10px;
    }

    .hamburger-menu{
        display: flex;
    }

    .navbar .navigation {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        margin-top: 0;
        width: 50%;
        padding: 50px;
        background-color: #928b8b;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    .navigation li {
        margin-top: 10px;
        display: block;
        border-bottom: 1px solid #0c0b0b;
    }

    .navbar ul li a{
        font-weight: 500;
    }




    .card-container{
        display: block;
    }

    .card-layanan{
        width: 100%;
    }


    .contact .row form {
        width: 100%;
    }

    .contact .row .map {
        width: 100%;
    }

}